.focus{
    margin-top: 114px;
    margin-bottom: 40px;
}
.categories{
    float: left;
    width: 240px;
    height: 460px;
    padding: 20px 0px;
    background: #999;
    opacity: 0.8;
    box-sizing: border-box;
    margin-right: 10px;
}
.categories .keyowrd-item{
    padding:0 10px;
    height: 40px;
    line-height: 40px;
}
.categories .keyowrd-item span{
    margin-left: 140px;
}
.categories .keyowrd-item:hover{
    background-color: #666;
}
.categories .keyowrd-item:hover .link{
    color: #ff0036;
}
.categories .keyowrd-item .link{
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}
.focus .swiper-container{
    height: 460px;
    overflow: hidden;
}
.focus .swiper-container .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.floor{
    margin-bottom: 20px;
}
.floor-box{
    margin-bottom: 20px;
}
.floor-title{
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-left:5px solid #ff0036;
}
.floor-box:nth-child(odd) .floor-title{
    color: #ff0036;
    border-bottom: 1px solid #ff0036;
}
.floor-item:nth-child(5n){
    margin-right: 0
}
.floor-item{
    float: left;
    width: 200px;
    height: 270px;
    margin-right: 6px;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    margin-bottom: 10px;
}
.floor-item:hover{
    /* box-shadow: 0px 1px 7px rgba(0,0,0,0.5); */
    border: 1px solid #ff0036;
    opacity: 0.5;
}
.floor-item:last-child{
    margin-right: 0px;
}
.floor-item a{
    text-decoration: none;

}
.floor-text{
    width: 100%;
    font-size: 16px;
    color: #111;

}
.floor-price{
    font-size: 16px;
    color: #f21;
}
.floor-img{
    width: 180px;
    height: 180px;
    margin-top: 20px;
}  