<div class="footer">
    <div class="container">
        <div class="links">
            <a href="https://wwww.kuazhu.com" class="links" target="_blank">跨猪</a>
            <a href="https://wwww.baidu.com" class="links" target="_blank">百度</a>
            <a href="https://wwww.taobao.com" class="links" target="_blank">淘宝</a>
        </div>
        <div class="copyright">
            ©2019 kuazhu.com 湘ICP15027861号-2
        </div>
    </div>
</div>
<script src="http://127.0.0.1:3000/lib/jquery/jquery-1.12.4.min.js"></script>