{% extends './layout.html' %}
{% block head %}
    文章列表
{% endblock %}

{% block content %}


<div class="table-box">
    <a href="/article/add" class="btn btn-primary btn-add alert-link">新增文章</a>
    {% if length == 0 %}
    <table class="table table-striped1">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>提示!</strong> 没有添加的文章,请点击新增文章！
          </div>          
        {% else %}
    <table class="table">
        {% endif %}
        <thead>
            <tr>
                <th>标题</th>
                <th>分类名称</th>
                <th>作者</th>
                <th>创建时间</th>
                <th>点击量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for val in articles %}
            <tr>
                <td>{{ val.title }}</td>
                <td>{{ val.category.name }}</td>
                <td>{{ val.user.username }}</td>
                <td>{{ val.createAt | date('Y年m月d日 H:i:s',-8*60) }}</td>
                <td>{{ val.click }}</td>
                <td>
                    <a href="/article/view/{{ val._id.toString() }}">查看</a>
                    <a href="/article/edit/{{ val._id.toString() }}">编辑</a>
                    <a href="/article/delete/{{ val._id.toString() }}">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>     
</div>
{% if pages > 1 %}
{% include 'pagination.html' %}<!-- 合并相同部分 -->
{% endif %}
{% endblock %}
