{% extends './layout.html' %}
{% block head %}
    分类管理
{% endblock %}

{% block content %}


<div class="table-box">
    <a href="/category/add" class="btn btn-primary btn-add">新增分类</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>内容id</th>
                <th>分类名称</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for val in categories %}
            <tr>
                <td>{{ val._id.toString() }}</td>
                <td>{{ val.name }}</td>
                <td>{{ val.order }}</td>
                <td>
                    <a href="/category/edit/{{ val._id.toString() }}">编辑</a><span>/</span>
                    <a href="/category/delete/{{ val._id.toString() }}">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>     
</div>
{% if pages > 1 %}
{% include 'pagination.html' %}<!-- 合并相同部分 -->
{% endif %}
{% endblock %}
