{% extends './layout.html' %}
{% block head %}
    用户列表
{% endblock %}

{% block content %}
<div class="table-box">
    <table class="table table-striped">
        <thead>
            <tr class=""options>
                <th>用户ID</th>
                <th>用户名</th>
                <th>是否管理员</th>
            </tr>
        </thead>
        <tbody>
            {% for key,val in users %}
            <tr>
                <td>{{ val._id.toString() }}</td>
                <td>{{ val.username }}</td>
                <td>
                    {% if val.isAdmin %}
                        是
                    {% else %}
                        否
                    {% endif %} 
                </td>
            </tr>
            {% endfor %}
        </tbody>        
    </table>
</div>
{% if pages > 1 %}
{% include 'pagination.html' %}
{% endif %}
{% endblock %}
