.logo-text{
    color: #ff0036;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.search-box{
    background-color: #fff;
    height: 80px;
    padding: 18px 0;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-bottom: 1px solid #ff0036;
}
.logo{
    float: left;
}
.search{
    float: left;
    margin-left: 100px;
}
.search-input{
    width: 400px;
    margin-left: 150px;
    outline: none;
    border: 2px solid #ff0036;
    height: 38px;
    padding-left: 10px;
    font-size: 14px;
    float: left;
}

#btn-search{
    height: 42px;
    line-height: 42px;
    float: left;
    background-color: #ff0036;
}