.footer{
    margin-top: 10px;
    text-align: center;
}
.links{
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(192, 189, 189);
}
.links link{
    padding: 0 10px;
    text-decoration: none;
}
.copyright{
    color:#999;
}