.anticon-spin{
    position: absolute;
    right: 132px;
}
.ant-spin-text{
    position: absolute;
    right: 132px;
}
.ant-table-body {
    background-color: red;
    box-sizing: border-box;
}